.contact{
    text-align: center;
    margin-top: 5rem;
}
h2{
    color:var(--clr-title);
    font-size: x-large;
}

.contact__btn{
    margin-top: 1rem;
    font-size: smaller;
    margin-left: 1rem;
    margin-right:1rem;
}

@media(min-width:475px){
    h2{
        font-size: x-large;
    }
    p{
        font-size: medium;
    }
    .contact__btn{
        font-size:small;
    }
}

@media(min-width:1024px){
    h2{
        font-size: xx-large;
    }
    p{
        font-size: larger;
    }
    .contact__btn{
        font-size:large;
    }

}

@media(min-width:1280px){
    h2{
        font-size: 80px;
    }
    p{
        font-size: larger;
    }
}