* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    display:inline-block;
    font-weight:600;
    text-decoration: none;
    letter-spacing: -0.05rem;
    background-color: var(--clr-skyblue);
    color:var(--clr-light);
    padding:0.5em 1em;
    border-radius:6px;
    box-shadow:0 10px 20px rgba(2, 132, 199, 0.5),
    0 6px 6px rgba(2, 132, 199, 0.5),
    0 0 100px -10px var(--clr-skyblue);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover{
    transform:translateY(-3px);
    box-shadow:0 14px 28px rgba(2, 132, 199, 0.25),
    0 10px 10px rgba(2, 132, 199,0.22),
    0 0 120px -10px var(--clr-skyblue);
}

.container {
    max-width:1536px;
    margin-left:auto;
    margin-right:auto;
    padding-left:0.5rem;
    padding-right:0.5rem;
}

/* For Responsive layout */
@media(max-width:475px){
    .container{
    width:100%;
    }
}
@media(max-width:640px){
    .container{
    max-width:475px;
    }
}
@media(max-width:768px){
    .container{
    max-width:640px;
    }

}
@media(max-width:1024px){
    .container{
    max-width:768px;
    }

}
@media(max-width:1280px){
    .container{
    max-width:1024px;
    }

}
@media(max-width:1536px){
    .container{
    max-width: 1280px;
    }
}